h1 {

background-image: url("../images/pattern.jpeg");
background-repeat: no-repeat;
text-align: center;

font-family: Helvetica;
font-size: 98px;
font-weight: bold;
color: khaki;


}


h2 {


  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {

    background-color: mediumspringgreen;
}
.frames {

  background-color: maroon;

}
.paint {

    background-color: aqua;
 
}
h3.oprema {
    font-size: 16px;
    color: gray;
}

a {

  font-family: Helvetica;
  font-weight: normal;
  color: blue;

}
